table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
  background-color: #111;
  color: #f4f4f4;
  font-size: 0.9em;
}
table, th, td {
  border: 1px solid #333;
}
th {
  background-color: #222;
  color: #f04e45;
  padding: 8px;
  text-align: left;
}
td {
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #1a1a1a;
}
